.header-container{
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1030;
  box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.logo{
  display: inline-block;
  width: 220px;
  height: 64px;
  line-height: 64px;
  position: absolute;
  text-align: center;
  transition: width 0.25s ease-in-out 0s;

}
.header-container .logo .logo-icon {
  font-size: 20px;
}
.header-container .logo-text{
  margin-left: 5px;
}
.header-container .logo > a {
	color: #fafafa;
  font-size: 24px;
  vertical-align: middle;
  white-space: nowrap;
}
.bg-dark{
	background-color: #262b33;
  color: #fff;
}

.header-container .top-nav {
  padding: 0 0 0 220px;
  height: 64px;
  transition: padding 0.25s ease-in-out 0s;
}
.header-container .top-nav .nav-left {
  float: left;
}
.header-container .top-nav .nav-right {
	float: right;
}

.header-container .top-nav .nav-left>a>i{ 
	font-size: 18px;
}
.header-container .top-nav .nav-left>a{ 
	min-width: 66px;
}
.header-container .top-nav .nav-left>a, 
.header-container .top-nav .nav-right>a {
  position: relative;
  display: block;
  height: 64px;
  padding: 22px 20px;
}

.header-container .top-nav .nav-right  a {
    padding: 17px 15px;
}
img.img30_30 {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.img-circle {
  border-radius: 50%;
}